/* Header */

#header {
  // @include vendor('display', 'flex');
  // @include vendor('flex-direction', 'column');
  // @include vendor('align-items', 'center');

  ul {
    list-style: none;
    li {
      display: inline-block;
    }
  }
  @include vendor(
    'transition',
    ('transform #{_duration(article)} ease-in-out', 'filter #{_duration(article)} ease-in-out', 'opacity #{_duration(article)} ease-in-out')
  );
  max-width: 100%;
  text-align: left;

  > * {
    @include vendor('transition', 'opacity #{_duration(article)} ease-in-out');
    position: relative;
    margin-top: 3.5rem;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: calc(-3.5rem - 1px);
      left: calc(50% - #{_size(border-width) * 1});
      width: _size(border-width);
      height: calc(3.5rem + 1px);
    }
  }

  > :first-child {
    margin-top: 0;

    &:before {
      display: none;
    }
  }

  .content {
    @include vendor(
      'transition',
      ('max-height #{_duration(intro)} ease', 'padding #{_duration(intro)} ease', 'opacity #{_duration(article)} ease-in-out')
    );
    max-width: 300px;
    padding: 3rem 2rem;
    max-height: 40rem;
    overflow: hidden;

    h2 {
      padding-top: 0;
      padding-bottom: 0;
      font-family: _font(family-content);
      font-weight: _font(weight);
      color: #d61b56;
    }
  }

  .title {
    border-style: solid;
    border-right-width: _size(border-width);
    border-right-color: hsl(341, 78%, 47%);
    max-width: 100%;
    align-content: left;
    .inner {
      @include vendor(
        'transition',
        ('max-height #{_duration(intro)} ease', 'padding #{_duration(intro)} ease', 'opacity #{_duration(article)} ease-in-out')
      );
      @include vendor('transition-delay', '0.25s');
      padding: 3rem 2rem;
      padding-left: 0;
      max-height: 40rem;
      overflow: hidden;

      h1 {
        color: #d61b56;
        font-size: 4rem;
      }
      h2 {
        text-align: right;
        font-family: _font(family-content);
        font-weight: _font(weight);
      }
    }

    p {
      text-transform: uppercase;
      letter-spacing: _font(letter-spacing);
      font-size: 1.4rem;
      line-height: 2;
    }
  }

  .body.is-article-visible & {
    @include vendor('transform', 'scale(0.95)');
    @include vendor('filter', 'blur(0.1rem)');
    opacity: 0;
  }

  .body.is-loading & {
    > * {
      opacity: 0;
    }

    @include vendor('filter', 'blur(0.125rem)');

    .title {
      .inner {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
      }
    }
  }

  @include breakpoint(medium) {
    .title {
      p {
        br {
          display: none;
        }
      }
    }
  }

  @include breakpoint(small) {
    > * {
      margin-top: 2rem;

      &:before {
        top: calc(-2rem - 1px);
        height: calc(2rem + 1px);
      }
    }

    .logo {
      width: 4.75rem;
      height: 4.75rem;
      line-height: 4.75rem;

      .icon {
        &:before {
          font-size: 1.75rem;
        }
      }
    }

    .title {
      .inner {
        padding: 2.5rem 1rem;
      }

      p {
        line-height: 1.875;
      }
    }
  }

  @include breakpoint(xsmall) {
    padding: 1.5rem 0;

    .title {
      .inner {
        padding: 2.5rem 0;
      }
    }

    nav {
      ul {
        @include vendor('flex-direction', 'column');
        min-width: 10rem;
        max-width: 100%;

        li {
          border-left: 0;
          border-top: solid _size(border-width) _palette(border);

          &:first-child {
            border-top: 0;
          }

          a {
            height: 3rem;
            line-height: 3rem;
            min-width: 0;
            width: 100%;
          }
        }
      }

      &.use-middle {
        &:after {
          display: none;
        }
      }
    }
  }
}
